pipeline/Copy_database_1.json
{
	"name": "Copy_database_1",
	"properties": {
		"activities": [
			{
				"name": "Busca JSON",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "base_datos_1.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PARA CADA TABLA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Busca JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Busca JSON').output.value[0].tables",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "test_salida",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"test_salida": {
				"type": "String"
			},
			"table": {
				"type": "String",
				"defaultValue": "emp"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-02T16:21:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}