pipeline/IncrementalCopyPipeline.json
{
	"name": "IncrementalCopyPipeline",
	"properties": {
		"description": "https://learn.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-portal",
		"activities": [
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT WatermarkValue AS campoX\nFROM dbo.watermarktable  \nWHERE TableName = '@{pipeline().parameters.NombreTabla}'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DestinationDataset_l8e",
						"type": "DatasetReference",
						"parameters": {
							"NombreEsquema": "dbo",
							"NombreTabla": "watermarktable"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaVar",
					"value": {
						"value": "@activity('LookupOldWaterMarkActivity').output.value[0].campoX",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"NombreTabla": {
				"type": "String"
			}
		},
		"variables": {
			"FechaVar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-11T20:04:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}